<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="bg-light text-center text-lg-start py-3" th:fragment="footer">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- 좌측: 공지사항 메뉴 -->
        <div class="text-start">
            <a th:href="@{/PSA-list}" class="text-decoration-none text-dark">
                <strong>공지사항</strong>
            </a>
        </div>

        <!-- 중앙: 프로젝트 이름 및 홈 화면 링크 -->
        <div class="text-center">
            <a th:href="@{/}" class="text-decoration-none text-body-tertiary">
                S.C.Vs (Stocknews Collection Viewers)
            </a>
        </div>

        <!-- 우측: 문의용 GitHub 링크 -->
        <div class="text-end">
            <strong>문의 & 연락:</strong>
            <a href="https://github.com/27kdt3team/team3" target="_blank">
                <img src="/images/github.png" alt="GitHub" style="height:48px;">
            </a>
        </div>
    </div>
</footer>
</html>
