<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/userinfo.css}">
</th:block>

<!-- Main Body Contents -->
<th:block layout:fragment="MainBodyContents">

    <div class= "container-wrapper">
        <div class="container-navi">
            <ul class = "navi-list">
                <h4>내 정보</h4>
                <hr>
                <li><a class="nav-link" th:href="@{/user/profile}">내 상세정보</a></li>
                <li><a class="nav-link" th:href="@{/user/passwordcheck}">비밀번호 변경</a></li>
                <li><a class="nav-link" th:href="@{/user/accountdel}">회원 탈퇴</a></li>
            </ul>
        </div>

        <div class="container-form">
            <h2>비밀번호 수정</h2>
            <!-- 사용자 정보 수정 폼 -->
            <form th:action="@{/user/update}" th:object="${userDTO}" method="post">
                <!-- new-password -->
                <div class="form-group">
                    <label for="password">새 비밀번호</label>
                    <div>
                        <input type="password" id="password" th:field="*{password}" placeholder="새 비밀번호"/>
                        <div id="password-validation" class="validation-message"></div>  <!-- 비밀번호입력 검증 경고문구  -->
                    </div>
                </div>
                <p style="font-size: 0.9rem;">비밀번호 안정성:
                    8자 이상 영문, 숫자, 특수문자를 포함하여야합니다. 다른 사이트에서 쓰는 비밀번호나 애완동물의 이름처럼
                    추측하기 쉬운 이름은 사용하지 마세요.</p>
                <!-- password-check -->
                <label for="password-check">새 비밀번호 확인</label>
                <div>
                    <input type="password" id="password-check" placeholder="새 비밀번호 확인"/>
                    <div id="password-check-validation" class="validation-message"></div>  <!-- 비밀번호확인입력 검증 경고문구  -->
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">확인</button>
                </div>

            </form>

        </div>
    </div>
    <script th:src="@{/js/passwordchange.js}"></script>
</th:block>

</body>
</html>