<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/userinfo.css}">
</th:block>

<!-- Main Body Contents -->
<th:block layout:fragment="MainBodyContents">

    <div class= "container-wrapper">
        <div class="container-navi">
            <ul class = "navi-list">
                <h4>내 정보</h4>
                <hr>
                <li><a class="nav-link" th:href="@{/user/profile}">내 상세정보</a></li>
                <li><a class="nav-link" th:href="@{/user/passwordcheck}">비밀번호 변경</a></li>
                <li><a class="nav-link" th:href="@{/user/signout}">회원 탈퇴</a></li>
            </ul>
        </div>

        <div class="container-form">
            <h2>회원 탈퇴</h2>
            <!-- 사용자 정보 수정 폼 -->
            <form th:action="@{/user/signout}" method="post">
                <!-- password -->
                <div class="form-group">
                    <label for="password">비밀번호 확인</label>
                    <div>
                        <input type="password" id="password" placeholder="비밀번호를 입력하세요" required />
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">회원탈퇴</button>
                </div>
            </form>

        </div>
    </div>
    <script th:src="@{/js/signout.js}"></script>
</th:block>

</body>
</html>